VITE_SUPABASE_URL=https://tvmjnkdgiuwutobtqprh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR2bWpua2RnaXV3dXRvYnRxcHJoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDg5NzE2MDAsImV4cCI6MjAyNDU0NzYwMH0.JqKsN-RXFMrC1rqH3a7TyQV9kHDSk-L-VBBC4QdXrR0